.navbar{
  width: 100%;
  height: 60px;
  background-color: var(--color-secondary);
  /* box-shadow: 10px 10px 12px 0 rgba(0,0,0,.07); */
  box-shadow: 10px 10px 12px 0 rgba(0,0,0,.07);
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  list-style-type: none;
  z-index: 4;
  position: fixed;
}
.routes{
  width: auto;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  padding-right: 20px;
}
.navbar .route:not(.logo) {
  width: 80px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  text-decoration: none;
  gap: 8px;
  padding: 0.25rem 0.5rem;
  /* border: 2px solid rgba(255, 255, 255, 0.3); */
  box-shadow: var(--shadowColor);
  border-radius: 4px;
  cursor: pointer;
  transition: color 0.2s ease-out, transform 0.2s ease-out;
  color: var(--color-font);
}
.navbar li:hover {
  /* transform: scale(1.05); */
  /* box-shadow: var(--shadowColor); */
  border-radius: 4px;
  box-shadow: var(--shadowInset);
  transform: scale(1.1);
}
.routes .route:focus , .active {
  outline: none;
  transform: scale(1.05);
  box-shadow: var(--shadowInset) !important;
  font-weight: 500;
  padding: 0.25rem 0.5rem;;
  color: var(--color-primary) !important;
}
.navbar .route:hover, .nav .route:focus {
  color: var(--color-primary);
  border-radius: 4px;
  box-shadow: var(--shadowInset);
  transform: scale(1.1);
}


@media screen and (max-width:990px) {
  .navbar{
    flex-direction: row-reverse;
  }
}